# ========================
# Visual Studio
# ========================

.vs/
Debug/
Release/
x64/
x86/

# build outputs
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.exp

# DLLは基本無視
*.dll

# ========================
# 例外（重要）
# ========================

# SDL配布物は管理する
!SDL2/bin/
!SDL2/bin/*.dll
